.leaflet {
    &-control {
        &-attribution {
            @apply bg-black rounded-tl-sm;
        }
    }
    &-popup-content {
        &-wrapper {
            @apply rounded-md;
        }
        &-content {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }
    }
}
body.dark {
    .leaflet {
        &-popup-tip,
        &-popup-content-wrapper {
            font-family: 'Aurebesh';
            @apply bg-gray-900 text-gray-100;
        }
        &-control {
            &-zoom-in,
            &-zoom-out {
                @apply bg-gray-900 text-gray-100;
                &.leaflet-disabled {
                    @apply text-gray-700;
                }
            }
            &-attribution {
                @apply bg-gray-900 rounded-tl-sm;
            }
        }
        &-bar a {
            @apply border-gray-800;
        }
    }
}
