.leaflet {
    &-popup-tip,
    &-popup-content-wrapper {
        font-family: 'Rubik', sans-serif;
        @apply dark:bg-gray-900 dark:text-gray-100;
    }
    &-control {
        &-zoom-in,
        &-zoom-out {
            @apply dark:bg-gray-900 dark:text-gray-100;
            &.leaflet-disabled {
                @apply dark:text-gray-700;
            }
        }
        &-attribution {
            @apply dark:bg-gray-900 bg-black rounded-tl-sm;
        }
    }
    &-popup-content {
        &-wrapper {
            @apply rounded-md;
        }
        &-content {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }
    }
}
body.dark {
    .leaflet {
        &-popup-tip,
        &-popup-content-wrapper {
            font-family: 'Aurebesh';
        }
        &-bar a {
            @apply border-gray-800;
        }
    }
}
